.myModal {
    position: fixed;
    top: 0; 
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0px #0000001A;
}

.myModalContent {
    padding: 24px;
    background: white;
    border-radius: 16px;
    width: 500px;
    height: 468px;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}